@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
    --primary-darker: hsl(217, 19%, 35%);
    --primary-dark: hsl(214, 17%, 51%);
    --primary: hsl(212, 23%, 69%);
    --primary-light: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    background: var(--primary-light);
}

main {
    margin: 5vh auto;
    width: 90%;
    max-width: 800px;

    @media screen and (min-width: 1024px) {
        margin: 25vh auto 5vh auto;
    }
}

section {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    @media screen and (min-width: 1024px) {
        display: flex;
    }
}

.image {
    height: 250px;
    width: 100%;
    object-fit: cover;

    @media screen and (min-width: 1024px) {
        width: 350px;
        height: auto;
    }
}

.container {
    padding: 2rem 3rem 2rem 2rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    }
}

.content {
    h1 {
        font-size: 1rem;
        color: var(--primary-darker);
        font-weight: 700;

        @media screen and (min-width: 1024px) {
            font-size: 1.35rem;
        }
    }

    p {
        font-size: 13px;
        color: var(--primary-dark);
        margin-top: 16px;
        line-height: 20px;

        @media screen and (min-width: 1024px) {
            line-height: normal;
            font-size: 15px;
        }
    }
}

.profile {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

.user {
    flex: 1;
    height: 100%;

    h5 {
        font-weight: 700;
        font-size: 14px;
        color: var(--primary-darker);
    }

    p {
        font-size: 13px;
        color: var(--primary);
        letter-spacing: 1px;
        word-spacing: 1px;
        margin-top: 3px;
    }
}

.icon {
    height: 40px;
    width: 40px;
    background: var(--primary-light);
    border-radius: 50%;
    border: none;
    outline: none;
}
